.column-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 10px;
  align-items: start;
  grid-auto-flow: column;
  grid-auto-columns: minmax(260px, 1fr);
  overflow: scroll;
}
.column-list::-webkit-scrollbar {
  height: 25px;
}
.column-list::-webkit-scrollbar-thumb {
  background-color: #c4c9cc;
  border-top: 0.6rem solid #fff;
}
.add-column-btn {
  display: block;
  font-weight: 400;
  background-color: #e2e4e6;
  color: #4d4d4d;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  text-align: left;
  transition: .3s;
}
.add-column-btn:hover {
  background-color: #ccc;
}
