.column-item {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  background-color: #e2e4e6;
  max-height: calc(100vh - 200px);
}
.column-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.column-title-wrapper button {
  background-color: transparent;
}
.column-title {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}
.add-card-btn {
  display: block;
  font-weight: 400;
  color: #838c91;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  transition: .3s;
  background-color: transparent;
}
.add-card-btn:hover {
  background-color: #cdd2d4;
  color: #4d4d4d;
  text-decoration: underline;
}