@import '/src/App.variables.scss';
.column-item {
  min-width: 260px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  background-color: #e2e4e6;
  max-height: calc(100vh - 230px);
}
.column-title-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 12px;
}
.column-title {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  cursor: pointer;
}
.add-card-btn {
  display: block;
  font-weight: 400;
  color: #838c91;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  transition: .3s;
  background-color: transparent;
}
.add-card-btn:hover {
  background-color: #cdd2d4;
  color: #4d4d4d;
  text-decoration: underline;
}
.column-title-form {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  background: white;
}
.column-title-input {
  display: inline-block;
  width: 80%;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  background: transparent;
  &::placeholder {
    font-size: $text-font;
    font-weight: normal;
    opacity: 0.8;
  }
}
.column-title-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.column-btn {
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-color: transparent;
}
.delete-btn {
  background-image: url(../../assets/trash.png);
}
.check-btn {
  background-image: url(../../assets/checkmark.svg);
}
.cancel-btn {
  background-image: url(../../assets/cancel-circle.svg);
}
.btn-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.modal-btn {
  padding: 10px 22px;
  display: block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.confirm-title {
  text-align: center;
  font-size: $title-font;
  margin: 20px 0;
}
