@import '../../App.variables.scss';

.createBoard-form {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.514);
  margin: 0 !important;

  .form {
    width: 400px;
    height: 285px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    padding: 20px;
    padding-top: 24px;
    font-size: $text-font;
    font-weight: normal;
    text-align: center;
    margin: 0 !important;

    .form-complete {
      margin-bottom: 22px !important;
      animation: transfusion 0.8s infinite alternate;

      @keyframes transfusion {
        from {
          color: green;
        }
        to {
          color: greenyellow;
        }
      }
    }

    .form-title {
      margin: 0 0 32px 0 !important;
      font-size: $title-font;
    }

    .form-error {
      margin-left: 8px !important;
      position: relative;
      bottom: 14px;
      font-size: $subtitle-font - 5px;
      color: red;

      &.none {
        display: none;
      }
    }

    .form-input {
      margin: 0 auto;
      margin-bottom: 24px;
      padding: 20px 18px;
      height: 36px;
      width: 90%;
      display: block;
      @include font;
      background-color: #fff;
      border-radius: 8px;
      border: 1px solid $main-blue;
      margin: 0 0 25px 20px !important;

      &.input-text::placeholder {
        @include font;
        opacity: 0.5;
      }

      &.input-error {
        border-color: red;
        margin: 0 !important;
      }
    }

    .btn-submit {
      margin: 0 auto !important;
      padding: 10px 22px;
      display: block;
      @include font;
      font-size: $text-font + 4px;
      font-weight: bold;
      color: $main-light-orange;
      background-color: #fff;
      border: 2px solid $main-light-orange;
      border-radius: 10px;

      &:hover {
        color: #fff;
        background-color: $main-light-orange;
        animation: bounce 0.8s infinite alternate;

        &:disabled {
          animation: none;
        }
      }

      &:disabled {
        color: rgba(0, 0, 0, 0.6);
      }

      @keyframes bounce {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.05);
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    .form {
      width: 300px;
      height: 220px;
      padding: 14px;
      padding-top: 24px;
    }
  }

  @media screen and (max-width: 500px) {
    .form {
      padding: 10px;
      padding-top: 24px;
    }
  }
}
