@import '../../App.variables.scss';

.not-found {
  margin: 0 auto;
  padding: 150px 0;
  max-width: $main-width;

  .title {
    font-size: $big-font;
    text-align: center;
  }

  .home__btn {
    display: block;
    text-align: center;
    font-size: $title-font;
    background: none;
    border: none;
    text-transform: uppercase;
    margin: 30px 0;
    transition: 0.3s;
    &:hover {
      color: $main-blue;
      background: transparent;
      box-shadow: none;
    }
  }
}
