@import '/src/App.variables.scss';

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHeader {
  margin-bottom: 10px;
}

.modalContent {
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  position: relative;
}

.modalTitle {
  font-size: $title-font;
  margin: 0 0 15px 0;
}

.modalClose {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
