.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalHeader {
  margin-bottom: 15px;
}

.modalContent {
  padding: 20px;
  border-radius: 12px;
  background: white;
  width: 400px;
  position: relative;
}

.modalTitle {
  font-size: 20px;
  font-weight: bold;
}

.modalClose {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  color: #000000;
  background: url(../.././assets/close.svg);
  cursor: pointer;
}
