@import '../../App.variables.scss';

.header {
  margin: 0 auto;
  padding: 15px 0;
  transition: all 0.25s ease-out;
  background-color: $main-light-blue;

  &.header_sticky {
    padding: 10px 0;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: $main-light-pink;
  }

  .center-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.header_sticky .center-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
  }

  div {
    display: flex;
    column-gap: 12px;
  }

  .header__btn {
    background: none;
    border: none;
    position: relative;

    &.btn-home {
      width: 30px;
      height: 30px;
      font-size: $big-font;
      background-image: url('../../../public/assets/icon.png');
      background-repeat: no-repeat;
      background-size: 30px, 30px;
    }

    &.btn-nav {
      color: 0.8;
      // &:hover {
      //   color: rgb(39, 39, 41);
      //   background: transparent;
      //   box-shadow: none;
      // }

      &:first-child:after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: -2px;
        height: 2px;
        width: 0;
        background: rgb(39, 39, 41);
        transition: 400ms ease all;
      }

      &:first-child:hover:after {
        width: 100px;
        transition: 800ms ease all;
      }

      &:nth-child(2):after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: -2px;
        height: 2px;
        width: 0;
        background: rgb(39, 39, 41);
        transition: 400ms ease all;
      }

      &:nth-child(2):hover:after {
        width: 65px;
        transition: 800ms ease all;
      }

      &:last-child:after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: -2px;
        height: 2px;
        width: 0;
        background: rgb(39, 39, 41);
        transition: 400ms ease all;
      }

      &:last-child:hover:after {
        width: 100px;
        transition: 800ms ease all;
      }
    }

    &.btn-nav.active {
      opacity: 1;
    }

  }

  .header__select {
    font-size: $descr-font;
    border-radius: 10px;
  }

  &.header_sticky .header__select {
    background-color: $main-light-pink;
  }
}
