@import '../../App.variables.scss';

.header {
  margin: 0 auto;
  padding: 20px;
  max-width: $main-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(113, 238, 94);

  div {
    display: flex;
    column-gap: 12px;
  }

  .header__btn {
    font-size: $title-font;
    background: none;
    border: none;

    &.btn-home {
      font-size: $big-font;
    }

    &.btn-nav {
      opacity: 0.65;
    }

    &.btn-nav.active {
      opacity: 1;
    }
  }

  .header__select {
    border-radius: 10px;
  }
}
