@import '../../App.variables.scss';

.main {
  max-width: 1200px;
  max-height: 100vh;
  margin: 0 auto;

  & .board-wrap {
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: center;
  }
}
