@import '/src/App.variables.scss';

.boardCreate-wrap {
  position: relative;
  width: 500px;
  height: 130px;
  border-radius: 10px;
  border: 1px solid $main-blue;
  transition: 0.5s;
  margin: 20px 0px !important;

  @media (max-width: 1024px) {
    width: 400px;
  }

  .add-board {
    transition: 0.5s;

    &::after {
      content: '';
      position: absolute;
      height: 90px;
      width: 25px;
      background: linear-gradient(70deg, $main-light-blue, $main-light-pink);
      border-radius: 5px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s;
    }

    &::before {
      content: '';
      position: absolute;
      width: 89px;
      height: 25px;
      background: linear-gradient(70deg, $main-light-blue, $main-light-pink);
      border-radius: 5px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s;
    }
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 2px 2px 8px rgba(39, 39, 41, 0.151);

    .add-board::after {
      height: 100px;
      width: 30px;
    }

    .add-board::before {
      width: 100px;
      height: 30px;
    }
  }
}
