@import '/src/App.variables.scss';
.welcome {
  width: $main-width;
  height: $section-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  .title-blok {
    align-self: flex-start;
    margin: 90px 0 0 0;

    & p {
      @include font;
      font-size: $descr-font;
      font-style: italic;
      width: 400px;
      margin: 0 0 0 170px;
    }
  }

  .welcome-img {
    background-image: url('../../../public/assets/welcome-img.png');
    background-size: 700px, 600px;
    background-repeat: no-repeat;
    background-position: center;
    width: 700px;
    height: 600px;
  }

  .title {
    @include h1;
    width: 512px;
    margin: 0px 0px 40px 15px;
  }
}

.links-box {
  width: $main-width;
  margin: auto;
  border-bottom: 1px solid rgba(39, 39, 41, 0.178);
  text-align: right;

  .btn {
    background: none;
    font-weight: lighter;
    margin: 0 20px 5px 0;
    // padding-bottom: ;
  }

  .btn:last-child {
    margin-right: 150px;
  }
}
