.card-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: start;
  padding: 0 10px 5px;
  overflow-y: auto;
}
.card-list::-webkit-scrollbar {
  width: 20px;
}

.card-list::-webkit-scrollbar-thumb {
  background-color: #e8ecf8;
  border-right: 0.5rem solid #fff;
}